@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background: #43cea2;
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
  background: linear-gradient(to right, #185a9d, #43cea2); 
  font-family: 'Montserrat', sans-serif; 
}

.title {
  text-align:center;
  color: #dff9fb;
}

.flex-container {
  display: flex;
}

.filter-container {
  justify-content: center;
  align-items: center;
  color: #dff9fb;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.filter {
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  padding: 0px 20px 10px 20px;
  margin-bottom: 15px;
}

#mGenre {
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  width: 100%;
}

.sec {
  flex-direction: column;
  flex-wrap: wrap;
}

.movies {
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px;
  color: #dff9fb;
  font-family: 'Montserrat', sans-serif;
}

.individual-movie {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  flex-basis: 330px;
  padding: 10px 20px 15px 20px;
  margin: 5px 10px 20px 10px;
}

input {
  text-align: center;
}

.img_wrap {
  position: relative;
  max-width: 320px;
  max-height: 480px;
}

img {
  max-width: 100%;
  max-height: 480px;
}

.desc {
  position: absolute;
  top: -3.3%;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(29, 106, 154, 0.72);
  visibility: hidden;
  opacity: 0;

  transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
}

.img_wrap:hover .desc {
  visibility: visible;
  opacity: 1;
}

footer {
  text-align: center;
  color: #dff9fb;
  font-size: 12px;
}

footer img {
  max-width: 20px;
  max-height: 20px;
}