@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background: #43cea2;
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
  background: linear-gradient(to right, #185a9d, #43cea2); 
  font-family: 'Montserrat', sans-serif; 
}

.title {
  text-align:center;
  color: #dff9fb;
}

.flex-container {
  display: flex;
}

.filter-container {
  justify-content: center;
  align-items: center;
  color: #dff9fb;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.filter {
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  padding: 0px 20px 10px 20px;
}

#mGenre {
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  width: 100%;
}

.sec {
  flex-direction: column;
  flex-wrap: wrap;
}

.movies {
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px;
  color: #dff9fb;
}

.individual-movie {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 330px;
  padding: 10px 20px;
  flex-shrink: 2;
}

input {
  text-align: center;
}

img {
  max-width: 320px;
  max-height: 480px;
}
